@model DigitalUpskills.Models.tbl_Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_CNIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_CNIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Gmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Gmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_PhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Student_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
