@model DigitalUpskills.Models.tbl_Course
@{
    Layout = "~/views/shared/_LayoutUser.cshtml";
}

<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url('../../Content/Projectpic/course (4).jpeg');">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1 class="heading-section">Our Course</h1>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="fh5co-course">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Our Course</h2>
                <p>Here are available different courses to enhance student's skills and knowledge</p>
            </div>
        </div>
        <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="fh5co-blog animate-box">
                            <a href="#" class="course-img">
                                <img src="@Url.Content(Model.Course_Image)" class="img-thumbnail" style="width:200% ;height: 200px">
                            </a>
                            <div class="blog-text">
                                <h3><a href="#">@Model.Course_Name</a></h3>
                                <p>Fee: @Model.Course_Fee</p>
                                <p>@Model.Course_Detail</p>
                                <ul>
                                    <li>
                                        <span data-toggle="modal" data-target="#course-modal">
                                            <i class="icon-search3 btn btn-primary btn-sm btn-course"></i>
                                            <a href="@Url.Action("DisplayBookmark", "Bookmark", new { id = Model.Course_Id})" class="icon-bookmark btn btn-primary"></a>
                                            <a href="@Url.Action("AddToCart", "Cart", new { id = Model.Course_Id })"><i class="icon-shopping-cart btn btn-primary btn-sm btn-course"></i></a> <br />
                                            <a href="@Url.Action("Lectures", "Home", new { id = Model.Course_Id })">Lecture:<small class="text-muted"> (@Model.tbl_Lecture.Count)</small></a> <br />
                                            <a href="@Url.Action("Slides", "Home", new { id = Model.Course_Id })">Slides:<small class="text-muted"> (@Model.tbl_Lecture.Count)</small></a>
                                            <span><a href="@Url.Action("Checkout","Cart", new { id=Model.Course_Id})" class="btn btn-primary btn-sm btn-course">Take Course</a></span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>


        @*<div class="row">
            <div class="col-25">
                <label for="lname">Last Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="email">Mail Id</label>
            </div>
            <div class="col-75">
                <input type="email" id="email" name="mailid" placeholder="Your mail id..">
            </div>
        </div>*@
        
<div class="contact-box-main">
    <div class="single-product-details">
        @foreach (var item in Model.tbl_Feedback)
        {
            <p>
                <h4>@item.tbl_Student.Student_Name</h4>
            </p>
            <p>
                <h4>@item.tbl_Student.Student_Address</h4>
            </p>
            <p>
                <h4>@item.Feedback_Date</h4>
            </p>
            <p>
                <h4>@item.Feedback_Description</h4>
            </p>
        }
    </div>

    @*<h2>FEED BACK FORM</h2>
    <div class="container">
        <form>
            <div class="row">
                <div class="col-25">
                    <label for="name">Youe Good Name Here</label>
                </div>
                <div class="col-75">
                    <input type="text" id="fname" name="firstname" placeholder="Your name..">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="country">Country</label>
                </div>
                <div class="col-75">
                    <select id="country" name="country">
                        <option name="Student_Address" value="Address">Select Country</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="feed_back">Feed Back</label>
                </div>
                <div class="form-group">
                    <input hidden name="Course_Fid" value="@Model.Course_Id" class="form-control" />
                </div>
                <div class="col-75">
                    <textarea id="message" name="Feedback_Description" placeholder="Write something.." style="height:200px"></textarea>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>*@




    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="contact-form-right">
                    <h2> Give Your Review: </h2>

                    <form action="/Course/Feedback" class="mt-3 collapse review-form-box show" method="post">
                        <div class="form-row">
                            <div class="form-group">
                                <input hidden name="Course_Fid" value="@Model.Course_Id" class="form-control" />
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <textarea class="form-control" id="message" placeholder="Reviw" rows="10" data-error="Write Your Review" name="Feedback_Description"></textarea>
                                    <div class="help-block with-arrow error"></div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary"> Submit! </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
