@model IEnumerable<DigitalUpskills.Models.tbl_CourseRegistration>
@using DigitalUpskills.Models;
@using DigitalUpskills.Utills;

@{
    Model1 db = new Model1();
    Layout = "~/views/shared/_LayoutUser.cshtml";
    ViewBag.Title = "RegisteredCourses";
}

@foreach (var item in db.tbl_CourseRegistration.Where(x => x.Student_Fid == CurrentUser.CurrentStudent.Student_Id))
{
    @*<ul>
        <li><a style="font-size:x-large" href="@Url.Action("RegisteredCourses", "Accounts", new {id=item.Course_Id})">@item.Course_Name</a></li>
    </ul>*@

}

<h2>Registered Courses</h2>
@Html.Raw(TempData["msg"])

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Course.Course_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Student.Student_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment_Mode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_Course.Course_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_Student.Student_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment_Mode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td><a href="@Url.Action("Lectures","Home",new { id=item.Course_Fid})" class="btn btn-primary">Lectures (@db.tbl_Lecture.Count(x=>x.Course_Fid==item.Course_Fid))</a></td>
            <td><a href="@Url.Action("Slides","Home",new { id=item.Course_Fid})" class="btn btn-primary">Slides (@db.tbl_Slide.Count(x => x.Course_Fid == item.Course_Fid))</a></td>
            <td><a href="@Url.Action("Slides","Home",new { id=item.Course_Fid})" class="btn btn-primary"> Apply for Certificate @*(@db.tbl_Slide.Count(x => x.Course_Fid == item.Course_Fid))*@</a></td>
            @*<td><a href="@Url.Action("Addtoregister","AdminSide",new { id=item.Course_Registraion_Id})" class="btn btn-primary">Registered</a></td>*@
        </tr>
    }

</table>
