@model IEnumerable<DigitalUpskills.Models.tbl_CourseRegistration>

@{
    ViewBag.Title = "NewRegistration";
}
@Html.Raw(TempData["msg"]);
<h2>RegistrationReport</h2>
<form action="/Reports/RegistrationReport" method="post">
    <table class="table">
        <tr>
            <td>Date From:</td>
            <td><input type="datetime-local" value=" @ViewBag.DateFrom" name="DateFrom" class="form-control" /></td>
            <td>Date To :</td>
            <td><input type="datetime-local" value="@ViewBag.DateTo" name="DateTo" class="form-control" /></td>
        <tr>
        <tr>
            <td>Course Category:</td>
            <td> @Html.DropDownList("CourseCategory", null, htmlAttributes: new { @class = "form-control" })</td>
            <td>Course :</td>
            <td>@Html.DropDownList("Course", null, htmlAttributes: new { @class = "form-control" })</td>
        <tr>
            <td colspan="4"><input type="submit" class="btn btn-success btn btn-block" /></td>
        </tr>
        <tr />
    </table>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Course.Course_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Student.Student_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_Registration_Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment_Mode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Course.Course_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Student.Student_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course_Registration_Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment_Mode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td><a href="@Url.Action("Invoice","AdminSide",new {id=item.Course_Registraion_Id})" class="btn btn-primary" >Invoice</a></td>
    </tr>
}

</table>
