@using DigitalUpskills.Models
@{
    Layout = "~/views/shared/_LayoutUser.cshtml";
    Model1 db = new Model1();
}

<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url('../../Content/Projectpic/teacher (1).jpeg');">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1 class="heading-section">Our Faculty</h1>
                                <h2>Quality education by professionals! <a href="http://freehtml5.co/" target="_blank"></a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>





@foreach (var item in db.tbl_Instructor)
{

    <div class="col-md-6 animate-box">
        <div class="course">

            @*<div class="row">
                    <div class="col-md-3 text-center">
                        <div id="fh5co-staff">
                            <div class="container">

                                <div class="staff-img" style="background-image: url(images/staff-1.jpg);">
                                    <ul class="fh5co-social">
                                        <li><a href="#"><i class="icon-facebook2"></i></a></li>
                                        <li><a href="#"><i class="icon-twitter2"></i></a></li>
                                        <li><a href="#"><i class="icon-dribbble2"></i></a></li>
                                        <li><a href="#"><i class="icon-github"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            <a href="#" class="course-img">
                <img src="@Url.Content(item.Instructor_Image)" style="width:100% ;height: 200px">
            </a>
            <div class="desc">
                <h3><a href="#">@item.Instructor_Name</a></h3>
                <h3><a href="#">@item.Instructor_Qualification</a></h3>
                <p>@item.Instructor_Address</p>
                <button class="btn btn-primary">Uploaded Courses</button>
                @*<span><a href="@Url.Action("Addtocart","Cart",new { id=item.Instructor_Id})" class="btn btn-primary btn-sm btn-course">Add to Cart</a></span>*@
            </div>
        </div>
    </div>
}
@*<div class="row">
        <div class="col-md-3 text-center">
            <div class="staff">
                <div class="staff-img" style="background-image: url(images/staff-1.jpg);">
                    <ul class="fh5co-social">
                        <li><a href="#"><i class="icon-facebook2"></i></a></li>
                        <li><a href="#"><i class="icon-twitter2"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble2"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                    </ul>
                </div>
                <a href="#" class="course-img">
                    <img src="@Url.Content(item.Instructor_Image)" style="width:100% ;height: 200px">
                </a>
                <h1>@item.Instructor_Name </h1>
                <span>@item.Instructor_Address</span>
                <span>@item.Instructor_Qualification</span>
                <h3><a href="#"></a></h3>
                <p></p>
            </div>
        </div>
    </div>*@



