@using DigitalUpskills.Models

@{ Layout = "~/views/shared/_LayoutUser.cshtml";
    Model1 db = new Model1();
}
<aside id="fh5co-hero">
    <div class="container">
        <div class="flexslider">
            <ul class="slides">
                <li style="background-image:url('../../Content/Projectpic/teacher (1).jpeg');">
                    <div class="overlay-gradient"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center slider-text">
                                <div class="slider-text-inner">
                                    <h1 class="heading-section">Our Faculty</h1>
                                    <h2>World Best Hired Staff!</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</aside>

<div id="fh5co-staff">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Meet Our Teacher</h2>

            </div>
        </div>
        <div id="fh5co-staff">
            <div class="container">
                <div class="row">
                    @foreach (var item in db.tbl_Instructor)
                    {
                        <div class="col-md-3 animate-box text-center">

                            <div class="staff">
                                <div class="staff-img" style="background-image: url(@item.Instructor_Image.Replace("~","../..")); align-content:center">
                                    <ul class="fh5co-social">
                                        <li><a href="@Url.Action("CoursesByTeacher", "Home", new {id=item.Instructor_Id})"><i class="icon-facebook2"></i></a></li>
                                        <li><a href="#"><i class="icon-instagram"></i></a></li>
                                        <li><a href="@item.Instructor_Gmail"><i class="icon-google-drive"></i></a></li>
                                        <li><a href="#"><i class="icon-github"></i></a></li>
                                    </ul>
                                </div>
                                <h3><a href="#">@item.Instructor_Name</a></h3>
                                <a href="@Url.Action("CoursesByTeacher", "Home", new { id = item.Instructor_Id})">@item.Instructor_Name <small class="text-muted"> (@item.tbl_Course.Where(x=>x.Is_Approved==true).Count())</small></a>
                                <span>@item.Instructor_Detail</span>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>








