@model IEnumerable<DigitalUpskills.Models.tbl_Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn btn-primary glyphicon glyphicon-pencil" href="@Url.Action("Create","tbl_Course")"> Create New </a>
</p>
<table class="table">
    <tr>
        <th>
            CourseCategory Name
        </th>
        <th>
            Instructor Name
        </th>
        <th>
            Course Name
        </th>
        <th>
            Course Code
        </th>
        <th>
            Course Detail
        </th>
        <th>
            Course Fee
        </th>
        <th>
            Course Duration
        </th>
        <th>
            Course Image
        </th>
        <th></th>
    </tr>

    @foreach (var course in Model)
    {
        <tr>
            <td>
                @course.tbl_CourseCategory.CourseCategory_Name
            </td>
            <td>
                @course.tbl_Instructor.Instructor_Name
            </td>
            <td>
                @course.Course_Name
            </td>
            <td>
                @course.Course_Code
            </td>
            <td>
                @course.Course_Detail
            </td>
            <td>
                @course.Course_Fee
            </td>
            <td>
                @course.Course_Duration
            </td>
            <td>
                <img src="@Url.Content(course.Course_Image)" width="100" height="100" />
            </td>
            <td>
                <a class="btn btn-primary glyphicon glyphicon-edit" href="@Url.Action("Edit", "tbl_Course" , new{id= course.Course_Id})"> Edit </a>
                <a class="btn btn-primary glyphicon glyphicon-book" href="@Url.Action("Details", "tbl_Course" , new{id= course.Course_Id})"> Detail </a>
                <a class="btn btn-primary glyphicon glyphicon-trash" href="@Url.Action("Delete", "tbl_Course" , new{id= course.Course_Id})"> Delete </a>
            </td>
        </tr>
    }

</table>
